<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta charset="utf-8" />
    <title> Admin</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Areas/RestaurantAdmin/Css/ManageLayout.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <div id="top">
        </div>
        <div id="nav">
            <div id="navlink">
                <ul>
                  
                    <li>@Html.ActionLink("Home", "AdminMain", "SysAdmin")</li>
            
                    <li>@Html.ActionLink("AddDishes", "DishesPublish", "Dishes")</li>
                    <li>@Html.ActionLink("Modify Dishes","DishesManager","Dishes")</li>
                
                    <li>@Html.ActionLink("Add News", "LoadNewsForm", "News")</li>

                    <li>@Html.ActionLink("News List","NewsList","News")</li>
                
                    <li>@Html.ActionLink("Reservation", "Reservation", "Company")</li>
                  
                    <li>@Html.ActionLink("Feedback", "LoadFeedback", "Company")</li>
                  
                    <li>@Html.ActionLink("Add Position", "LoadingAddPosition", "Company")</li>
                
                    <li>@Html.ActionLink("Position List","PositionList","Company")</li>
                
                    <li>@Html.ActionLink("Logout","ExitSys","SysAdmin")</li>

                    
                </ul>
            </div>
        </div>
        <div id="content">

            @RenderBody()
        </div>
        <div id="footer">
            <div id="bq">
                <a target="_blank" href="/Company/Index">[Home]</a>&nbsp;&nbsp; Copyright(C)2010-2020
                &nbsp;&nbsp;&nbsp;[User:@Session["currentAdmin"]]
            </div>
        </div>
    </div>
</body>
</html>
