
@{
    ViewBag.Title = "Add Position";
    Layout = "~/Areas/RestaurantAdmin/Views/Shared/ManageLayout.cshtml";
}



<style type="text/css">
    .txt {
        width: 80px;
    }
</style>
@using (Html.BeginForm("AddPosition","Company",FormMethod.Post))
{
    <div class="txtContentdiv">
        <div class="txtItemdiv">
           Position： 
           @Html.TextBox("PostName","",new { @class="txt"})

            Job Type：
            <select id="PostType" name="PostType">
                <option>Full</option>
                <option>Part</option>
            </select>
            Work Experience：
            <select id="Experience" name="Experience">
                <option>1 Year</option>
                <option>2 Year</option>
                <option>3 Year</option>
                <option>4 Year</option>
                <option>5 Year</option>
            </select>
            Education：
            <select id="EduBackground" name="EduBackground">
                <option>Bachelor</option>
                <option>Master</option>
                <option>Diploma</option>
                <option>College</option>
            </select>
            Person(s)：
           
            @Html.TextBox("RequireCount","",new { @class="txt"})

            Place：
           
            @Html.TextBox("PostPlace","",new { @class="txt"})
        </div>
        <div class="txtItemdiv">
            Description：
        </div>
        <div class="txtItemdiv">
           
            @Html.TextArea("PostRequire", new { cols="100",rows="10"})
        </div>
        <div class="txtItemdiv">
            Requirement：
        </div>
        <div class="txtItemdiv">
         
            @Html.TextArea("PostDesc", new { cols="100", rows="10"})
        </div>
        <div class="txtItemdiv">
            Name：
            
            @Html.TextBox("Manager","")
            Phone：
            @Html.TextBox("PhoneNumber","")
            Email：
            @Html.TextBox("Email","")
        </div>
        <div class="txtItemdiv">
            <button class="btncss" id="btnModify" type="submit">Add Position</button>
        </div>
    </div>
    }